# Supabase Postgres connection
DATABASE_URI=postgresql://postgres.qsumfwhiianmrhkexlth:CNPMProject%402006@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres
SECRET_KEY=change_this_secret_key_in_production
DEBUG=True
UPLOAD_FOLDER=src/uploads
REPORT_FOLDER=src/static/reports
JWT_EXPIRE_HOURS=8
